<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FD.DataAccessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FD.DataAccessLayer.Properties.Settings>
            <setting name="DataAccessLayer_sdigipro_TasasIGJ" serializeAs="String">
                <value>http://zidane.igj.jus.gov.ar:9000/WS-IGJ-Generic.asmx</value>
            </setting>
            <setting name="DataAccessLayer_Zidane_TasasIGJ" serializeAs="String">
                <value>http://sdigipro.igj.jus.gov.ar:6000/WS-IGJ-Tasas.asmx</value>
            </setting>
        </FD.DataAccessLayer.Properties.Settings>
    </applicationSettings>
</configuration>